{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h2>Edit Profile</h2>

    <form method="POST" enctype="multipart/form-data">

        <div class="mb-3">
            <label>Phone</label>
            <input type="text" name="phone"
                   value="{{ current_user.phone }}"
                   class="form-control">
        </div>

        <div class="mb-3">
            <label>Place</label>
            <input type="text" name="place"
                   value="{{ current_user.place }}"
                   class="form-control">
        </div>

        <div class="mb-3">
            <label>Profile Picture</label>
            <input type="file" name="profile_image"
                   class="form-control">
        </div>

        <button type="submit" class="btn btn-success">
            Save Changes
        </button>

    </form>
</div>

{% endblock %}